.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3f4133;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 20px 7px #232931;
  font-size: 8rem;
  color: cadetblue;
}

p {
  font-size: 2rem;
  color: cadetblue;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
